{% extends 'proyecto_view.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
{% block head %}
    <style>
        .admin_proyectos {
            background-color: #343B54;
        }


    </style>

    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css"/>

{% endblock %}
{% block nav %}

    <nav class="menu1">

        <ul>
            <li><a id="link" href={% url 'item.views.add_item' id_fase %}>Crear Item</a></li>
            <li><a id="link" href={% url 'item.views.listar_item_muerto' id_fase %}>Revivir Items</a></li>
            <li><a id="link" href={% url 'item.views.crear_sucesor' id_fase %}>Crear Sucesor</a></li>
            <li><a id="link" href={% url 'item.views.crear_hijo' id_fase %}>Crear Hijo</a></li>
            <li><a id="link" href={% url 'lineaBase.views.crear_lb' id_fase %}>Crear Linea Base</a></li>


            {% block listaproyecto %}
            {% endblock %}

        </ul>
    </nav>
{% endblock %}






{% block contenido %}
    <div class="col-md-3  ">
        <form action="" method="get">
            {{ filter.form | crispy }}
            <input type="submit" class="btn btn-default"/>
        </form>

    </div>

    <div class="col-md-8  ">
        {% render_table lista %}

    </div>
{% endblock %}