<!DOCTYPE html>
<html>
    <head>
        <title>WPM</title>
    </head>

    <body>
        <h1>Agregar un proyecto</h1>

        <form id="proyecto_form" method="post" action="/add_proyecto/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text}}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Crear Proyecto" />
        </form>
    </body>

</html>