{% extends 'index.html' %}

{% load render_table from django_tables2 %}

{% block head %}

     <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

	{% endblock %}

{%   block nav %}

 <nav class="menu1">

        <ul >
            <li><a id="link" href='/nuevo_usuario'>Crear Usuario</a></li>
            {% block listaproyecto %}
                {% endblock %}

        </ul>
    </nav>
{% endblock %}
       {%  block contenido %}
{#            {% render_table lista %}#}
               {% for u in lista %}
                <!-- Following line changed to add an HTML hyperlink -->
                    <li><a href="/usuarios/{{ u.url }}">{{ u.username }}</a></li>
               {% endfor %}
        {% endblock %}



