{% extends 'index.html' %}

{% load render_table from django_tables2 %}
 {% block head %}
     <style>
    .admin_proyectos{
         background-color: #343B54;
    }
</style>

	{% endblock %}
 {%   block nav %}

 <nav class="menu1">

        <ul >
            <li><a id="link" href='/add_proyecto'>Crear Proyecto</a></li>
            {% block listaproyecto %}
                {% endblock %}

        </ul>
    </nav>
{% endblock %}



       {%  block contenido %}
           {% render_table lista %}
        {% endblock %}















