{% extends 'index.html' %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block head %}

     <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

	{% endblock %}

{%   block nav %}

 <nav class="menu1">

        <ul >
            <li><a id="link" href='/nuevo_usuario'>Crear Usuario</a></li>
            {% block listaproyecto %}
                {% endblock %}

        </ul>
    </nav>
{% endblock %}
       {%  block contenido %}
           <div class="col-md-3  ">
    <form  action="" method="get">
        {{ filter.form | crispy }}
        <input type="submit" class="btn btn-default"/>
    </form>

     </div>

    <div class="col-md-8  ">
           {% render_table lista %}

     </div>





        {% endblock %}



