{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% load render_table from django_tables2 %}


{% block head %}

     <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

	{% endblock %}
 {%   block nav %}
 <nav class="menu1">

        <ul >
            <li><a id="link" href='/add_rol'>Crear Rol</a></li>
            <li><a id="link" href='/asignar_rol'>Asignar y Desasignar Roles</a></li>
            {% block listaproyecto %}
                {% endblock %}

        </ul>
    </nav>
{% endblock %}

	<section id="contenido">
{#        <p> <b>Nombre del rol</b></p>#}
{#        {% for rol in roles %}#}
{#            {{ rol }} </br>#}
{#        {% endfor %}#}


       {%  block contenido %}
<div class="col-md-3  ">
    <form  action="" method="get">
        {{ filter.form | crispy }}
        <input type="submit" class="btn btn-default"/>
    </form>

     </div>

    <div class="col-md-8  ">
           {% render_table lista %}

     </div>

       {% endblock %}





	</section>



