{% extends 'index.html' %}

{% load render_table from django_tables2 %}

	<section id="contenido">
{#        <p> <b>Nombre del rol</b></p>#}
{#        {% for rol in roles %}#}
{#            {{ rol }} </br>#}
{#        {% endfor %}#}


       {%  block contenido %}

{#        {% render_table roles %}#}
            {% if roles %}
            <ul>
                {% for rol in roles %}
                <!-- Following line changed to add an HTML hyperlink -->
                    <li><a href="/roles/{{ rol.url }}">{{ rol.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no roles present.</strong>
       {% endif %}

       {% endblock %}





	</section>



