<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Proyecto de la primera generación del 2014 del curso de diseño web online" />
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
	<title>WPM:Web Project Manager </title>

	<link rel="stylesheet" href="static/css/estilos.css" />
    <link rel="stylesheet" href="static/css/bootstrap.css"/>

	
</head>
<body>
	<header>
		<figure id="logo">
			<img src="/static/img/wpm_logo.jpg" />
		</figure>
		<h1>
			Web Project Manager
		</h1>
		<figure id="avatar">
			<img src="/static/img/desconocido.jpg" />
		</figure>
	</header>
	<nav>
		<ul>
			<li><a href="#">Autores</a></li>
			<li><a href="#">Documentacion</a></li>
			<li><a href="#">Contacto</a></li>
			<li><a href="#">CSS3</a></li>
			<li><a href="#">Django</a></li>
			<li id="publicar_nav">
				<a href="#" data-nombre="pablo" class="icon-lapiz">Ingresar</a>
			</li>
		</ul>
	</nav>
    <form action="" id="formulario" class="formulario">
		<input type="text" placeholder="Título" id="titulo" name="titulo" required>
		<input type="url" placeholder="Link" id="link" name="link" required>
		<input type="submit" value="Agregar">
	</form>

	
	{{usuario.nombre}}
	<ul>
	{% for usuario in usuarios%}
	
	<li>{{usuario.nombre}}</li>
	
	{%endfor%}
	</ul>

	<section id="contenido">

        {% load crispy_forms_tags %}

        <form method="post" class="uniForm">
    {{ my_formset|crispy }}
</form>


	</section>




	<footer>
		<p>
			<strong>Grupo R04®</strong>
		</p>
		<p>
			IS2-2014
		</p>
	</footer>

    <script src="static/js/jquery-1.11.0.min.js"></script>
	<script src="static/js/formulario.js"></script>

</body>
</html>













