{% if user.is_staff %}
 <a href="/proyectos/{{ record.id }}"><input class="btn btn-xs btn-default" type="submit" name="submit" value="Editar" /></a>
 <a href="/proyecto_view/{{ record.id }}"><input class="btn btn-xs btn-default" type="submit" name="submit" value="Ver Fases" /></a>
{% endif %}
{% if not user.is_staff %}
 <a href="/proyecto_view/{{ record.id }}"><input class="btn btn-xs btn-default" type="submit" name="submit" value="Ver Fases" /></a>
{% endif %}

{% if record.usuario == request.user %}
<a href="{% url 'solicitudCambio.views.crear_comite' record.id %}"><input class="btn btn-xs btn-default" type="submit" name="submit" value="Crear Comite" /></a>
{% endif %}

<a href="{% url 'proyecto.views.ver_grafo_relaciones' record.id %}"><input class="btn btn-xs btn-default" type="submit" name="submit" value="Grafo" /></a>
<a href="{% url 'reportes.views.reporte_resumen_proyecto' record.id %}"><input class="btn btn-xs btn-default" type="submit" name="submit" value="Reporte de Resumen" /></a>
<a href="{% url 'reportes.views.reporte_lista_items' record.id %}"><input class="btn btn-xs btn-default" type="submit" name="submit" value="Reporte Lista de Items" /></a>
