{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block titulo %} Nuevo Usuario {% endblock %}

{% block encabezado %}
	<h1>Registra un Nuevo Usuario</h1>
{% endblock %}
{% block contenido %}
<div class="row">

    <div class="col-md-4  col-md-offset-4">
        <form id='formulario' method='POST' action=''>
            {% csrf_token %}
            <table>
            {% crispy formulario %}

             </table>
            <p><input type='submit' value='Siguiente'/> </p>
        </form>
    </div>

</div>
{% endblock %}