{% extends 'index.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
 {% block head %}
     <style>
    .admin_proyectos{
         background-color: #343B54;
    }



     </style>

     <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />

	{% endblock %}
{#{% block nav %}#}
{##}
{#    <nav class="menu1">#}
{##}
{#        <ul>#}
{##}
{#        <li><a id="link" href={% url 'solicitudCambio.views.listar_solicitudes' id_proyecto %}>Solicitudes de Cambio</a></li>#}
{##}
{#        </ul>#}
{#    </nav>#}
{#{% endblock %}#}


{% block nav %}
<nav class="menu1">
    {% if proyecto.estado != "Finalizado" %}
        {% if finalizado %}

             <ul>
                 <li>                   <form action="{% url 'proyecto.views.finalizar_proyecto' id_proyecto %}" method="post">
                                            {% csrf_token %}
                                            <a href="javascript:;" onclick="parentNode.submit();">Finalizar Proyecto</a>
                                        </form>
                 </li>
             </ul>
         {% endif %}
    {% else %}

          <ul style="text-align: center;">
            <li ><h5 style="color: #ffffff;  ">Proyecto Finalizado</h5></li>
            </ul>
    {% endif %}

        </nav>



{% endblock %}

{% if not user.is_staff %}
    {% block breadcrumbs %}
        {{ block.super }}
{#        {{ block.super }}  » <a href="{% url 'proyecto.views.proyecto_view' id_proyecto %}">{{ proy_nombre }}</a>#}
        {% breadcrumb proy_nombre "proyecto.views.proyecto_view" id_proyecto %}

    {% endblock %}
{% endif %}

{%  block contenido %}
<div class="col-md-3  ">


     </div>

    <div class="col-md-8  ">
           {% render_table lista %}

     </div>







        {% endblock %}















