{% extends "base_reporte.html" %}
{% load render_table from django_tables2 %}
{% block title %}Resumen del Proyecto{% endblock %}
{% block body %}
    <h2>Resumen del Proyecto {{ proyecto.nombre }}</h2>
    <h3>Lider: {{ proyecto.usuario.first_name }} {{ proyecto.usuario.last_name }}</h3>

    <h3>Miembros del Proyecto:</h3>
        <table>
            {% render_table miembros %}
        </table>

    <h3>Miembros de Comite de Cambio:</h3>
        <table>
            {% render_table comite %}
        </table>

    <h3>Solicitudes de cambio:</h3>
{#        <table>#}
{#            {% render_table sc %}#}
{#        </table>#}

        <table>
            <tr>
                <th>Usuario creador</th>
                <th>Motivo</th>
                <th>Item</th>
                <th>Linea Base</th>
                <th>Impacto</th>
                <th>Estado</th>
            </tr>
                {% for sc_i in sc %}
                        <tr>
                            <TD class="c1">{{sc_i.usuario}}</TD>
                            <TD class="c1">{{sc_i.motivo}}</TD>
                            <TD class="c2">{{sc_i.item}}</TD>
                            <TD class="c3">{{sc_i.item.linea_base.first.descripcion}}</TD>
                            <TD class="c4">{{sc_i.impacto}}</TD>
                            <TD class="c5">{{sc_i.estado}}</TD>
                        </tr>
                {% endfor %}
        </table>

    <h3>Grafo de relaciones: </h3>
    <br>
    <img src="{{ proyecto.imagen_grafo.path }}" style="zoom: 80%;" />
    <pdf:nextpage>

    <h3>Fases del Proyecto:</h3>
        <table>
            {% render_table fases %}
        </table>
    <pdf:nextpage>

{% endblock %}